---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
---

<section>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>In collaboration with</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-8">
      <!-- First Icon -->
      <div class="p-6 sm:p-8 rounded-xl bg-body border border-box-border group hover:shadow-xl transition-shadow duration-300 grayscale hover:!grayscale-0">
        <a href="https://www.the-nextseed.com/fr/challenges/moroccanfintechaccelerator" class="block">
          <img
            src="/logos/um6p-preview.png"
            width="450"
            height="500"
            alt="UM6P Logo"
            class="h-24 sm:h-32 w-auto mx-auto ease-linear duration-300 transform group-hover:scale-110"
          />
        </a>
      </div>
      <!-- Second Icon -->
      <div class="p-6 sm:p-8 rounded-xl bg-body border border-box-border group hover:shadow-xl transition-shadow duration-300 grayscale hover:!grayscale-0">
        <a href="https://www.um6p.ma/" class="block">
          <img
            src="/logos/UM6P_wordmark_.svg"
            width="1000"
            height="600"
            alt="UM6P Wordmark"
            class="h-24 sm:h-32 w-auto mx-auto ease-linear duration-300 transform group-hover:scale-110"
          />
        </a>
      </div>
    </div>
  </Container>
</section>

<!-- Updated Team Section -->
<section class="mt-16">
  <Container className="space-y-12">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Meet Our Founders</Title>
      <p class="mt-4 text-gray-600">Get to know the leaders behind BlocReg Solutions.</p>
    </div>
    <div class="flex flex-col md:flex-row justify-center flex-wrap gap-8">
      <!-- Founder 1 -->
      <div class="flex-1 max-w-sm mx-auto">
        <div class="bg-white rounded-xl shadow-xl overflow-hidden transform transition hover:scale-105 hover:shadow-2xl">
          <img src="/logos/founder1.png" alt="Youssef Benlemlih, Ph.D." class="ease-out duration-500 transition-all opacity-0  hover:opacity-100 bg-gradient-to-r  from-white to-primary object-center  ">
          <div class="p-6 text-center">
            <h3 class="text-2xl font-bold mb-2 text-primary">Youssef Benlemlih, Ph.D.</h3>
            <p class="text-primary font-semibold mb-4">Founder & CEO</p>
            <p class="text-gray-600">
              Youssef, a former investment banker with a PhD in Blockchain, leads BlocReg Solutions by setting the strategic vision and forging key partnerships. He has laid the academic groundwork that supports our services and future initiatives.
            </p>
          </div>
        </div>
      </div>
      <!-- Founder 2 -->
      <div class="flex-1 max-w-sm mx-auto">
        <div class="bg-white rounded-xl shadow-xl overflow-hidden transform transition hover:scale-105 hover:shadow-2xl">
          <img src="/logos/founder2.png" alt="El Aouad Haroun" class="ease-out duration-300 transition-all opacity-0 hover:opacity-100 bg-gradient-to-r from-white to-primary object-center ">
          <div class="p-6 text-center">
            <h3 class="text-2xl font-bold mb-2 text-primary">El Aouad Haroun</h3>
            <p class="text-primary font-semibold mb-4">Co-Founder, CTO & Lead Engineer</p>
            <p class="text-gray-600">
              Haroun, a skilled software engineer, leads the design and implementation of secure, scalable blockchain platforms tailored for financial institutions, ensuring our platforms meet high demands.
            </p>
          </div>
        </div>
      </div>
      <!-- Founder 3 -->
      <div class="flex-1 max-w-sm mx-auto">
        <div class="bg-white rounded-xl shadow-lg overflow-hidden transform transition hover:scale-105 hover:shadow-2xl">
          <img src="/logos/founder3.png" alt="Pr. Berrada Ismail" class=" ease-out duration-300 transition-all opacity-0 hover:opacity-100 bg-gradient-to-r from-white to-primary object-center ">
          <div class="p-6 text-center">
            <h3 class="text-2xl font-bold mb-2 text-primary">Pr. Berrada Ismail</h3>
            <p class="text-primary font-semibold mb-4">Co-Founder, Head of R&D and HR</p>
            <p class="text-gray-600">
              As Head of R&D and HR, Pr. Berrada ensures our solutions are backed by the latest research and plays a vital role in shaping and strengthening our team.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>
